.button {
    background-color: #50a3a2;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 600;
    padding: 10px 20px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    outline: none;
    margin-right: 10px;
    margin-top: 10px;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;


  }
  
  .button:hover {
    background-color: #3e8887;
  }
  
  .button:active {
    transform: scale(0.95);
  }
  
  .button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  
  .button.primary {
    background-color: #f44336;
  }
  
  .button.primary:hover {
    background-color: #d32f2f;
  }
  
  .button.secondary {
    background-color: #039be5;
  }
  
  .button.secondary:hover {
    background-color: #0277bd;
  }
  
  .button.outline {
    background-color: transparent;
    color: #50a3a2;
    border: 1px solid #50a3a2;
  }
  
  .button.outline:hover {
    background-color: #50a3a2;
    color: #fff;
  }
  
  .button.outline.primary {
    color: #f44336;
    border-color: #f44336;
  }
  
  .button.outline.primary:hover {
    color: #fff;
  }
  
  .button.outline.secondary {
    color: #039be5;
    border-color: #039be5;
  }
  
  .button.outline.secondary:hover {
    color: #fff;
  }

  .input-field {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    max-width: 260px;
  }
  
  .button {
    margin: 10px;
    margin-top: 10px;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
  }
  
  .button.show-input {
    opacity: 0;
  }
  
  .input-field.show-input {
    opacity: 1;
  }

  @media (max-width: 768px) {
    .input-field {
      max-width: 100%;
    }
  }