.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    gap: 40px;
    padding: 40px;
    justify-content: center;
}

@media (max-width: 560px) {
    .container {
        grid-template-columns: 100%;
    }

    .avatar {
        width: 90%;
        height: auto;
    }
}

.card:hover {
    opacity: 0.5;
    transform: translateY(-15px);
    transition: 0.5s;
}

.card-link {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
  }

  